{
  "general": {
    "mode": "video_camera",
    "label": "./model/best3_labels_lists.txt",
    "model_path": "./model/yolo11srk3576.rknn",
    "gtk_window": {
      "title": "dock_blindspot",
      "width": 1280,
      "height": 800,
      "fullscreen": false
    }
  },
  "modes": {
    "video_camera": {
      "sources": [
        {
          "name": "USB摄像头输入，香橙派USB摄像头",
          "type": "usb_camera",
          "input": "/dev/video49",
          "threads": 1,
          "width": 1280,
          "height": 720,
          "fps": 15,
          "format": "mjpg",
          "conf_threshold": 0.3
        },
        {
          "name": "MIPI摄像头输入，在CSI0的IMX415",
          "type": "mipi_camera",
          "input": "/dev/video22",
          "threads": 1,
          "width": 1280,
          "height": 720,
          "fps": 15,
          "format": "auto",
          "conf_threshold": 0.3
        },
        {
          "name": "rtsp输入，运行在windows的RTSP模拟器",
          "type": "rtsp",
          "input": "rtsp://192.168.137.1:554/easy0.mp4",
          "threads": 1,
          "width": 1280,
          "height": 720,
          "fps": 15,
          "format": "h264",
          "conf_threshold": 0.3
        },
        {
          "name": "视频文件输入，网上的行人视频",
          "type": "video",
          "input": "./model/1280x720p.mp4",
          "threads": 1,
          "width": 1280,
          "height": 720,
          "fps": 15,
          "format": "auto",
          "conf_threshold": 0.3
        }
      ]
    }
  }
}
