{
  "general": {
    "mode": "video_camera",
    "label": "./model/new/best3_labels_lists.txt",
    "model_path": "./model/new/bests3640silu.rknn"
  },
  "modes": {
    "image": {
      "input": "./datasets/bug2.jpg"
    },
    "video_camera": {
      "sources": [
        {
          "name": "camera.0",
          "type": "camera",
          "input": "/dev/video20",
          "threads": 1,
          "width": 1920,
          "height": 1080,
          "buffers": 2,
          "fps": 15,
          "format": "mjpg",
          "conf_threshold": 0.3
        },
        {
          "name": "camera.1",
          "type": "camera",
          "input": "/dev/video24",
          "threads": 1,
          "width": 1920,
          "height": 1080,
          "buffers": 2,
          "fps": 15,
          "format": "mjpg",
          "conf_threshold": 0.3
        },
        {
          "name": "camera.2",
          "type": "camera",
          "input": "/dev/video22",
          "threads": 1,
          "width": 1920,
          "height": 1080,
          "buffers": 2,
          "fps": 15,
          "format": "mjpg",
          "conf_threshold": 0.3
        }
      ]
    }
  }
}
