{
  "general": {
    "mode": "video_camera",
    "label": "./model/best3_labels_lists.txt",
    "model_path": "./model/yolo11srk3576.rknn"
  },
  "modes": {
    "image": {
      "input": "./datasets/bug2.jpg"
    },
    "video_camera": {
      "sources": [
        {
          "name": "camera.0",
          "type": "usb_camera",
          "input": "/dev/video20",
          "threads": 1,
          "width": 1920,
          "height": 1080,
          "fps": 15,
          "format": "mjpg",
          "conf_threshold": 0.3
        },
        {
          "name": "camera.1",
          "type": "usb_camera",
          "input": "/dev/video24",
          "threads": 1,
          "width": 1920,
          "height": 1080,
          "fps": 15,
          "format": "mjpg",
          "conf_threshold": 0.3
        },
        {
          "name": "camera.2",
          "type": "usb_camera",
          "input": "/dev/video22",
          "threads": 1,
          "width": 1920,
          "height": 1080,
          "fps": 15,
          "format": "mjpg",
          "conf_threshold": 0.3
        },
        {
          "name": "rtsp.0",
          "type": "rtsp",
          "input": "rtsp://192.168.137.1:554/easy0.mp4",
          "threads": 1,
          "width": 1296,
          "height": 904,
          "fps": 15,
          "format": "h264",
          "conf_threshold": 0.3
        },
        {
          "name": "rtsp.1",
          "type": "rtsp",
          "input": "rtsp://192.168.137.1:554/easy1.mp4",
          "threads": 1,
          "width": 1296,
          "height": 904,
          "fps": 15,
          "format": "auto",
          "conf_threshold": 0.3
        }
      ]
    }
  }
}
